{% extends 'store/main.html' %}
{% load static %}
{% block content %}
	<div class="row">
		{% for product in products %}
		<div class="col-lg-4">
			{% if product.name == "Headphones" %}
				<img class="thumbnail" src="{% static 'images/headphones.jpg' %}">
			{% elif product.name == "Mount of Olives Book" %}
				<img class="thumbnail" src="{% static 'images/book.jpg' %}">
			{% elif product.name == "Project Source Code" %}
				<img class="thumbnail" src="{% static 'images/sourcecode.jpg' %}">
			{% elif product.name == "Watch" %}
				<img class="thumbnail" src="{% static 'images/watch.jpg' %}">
			{% elif product.name == "Shoes" %}
				<img class="thumbnail" src="{% static 'images/shoes.jpg' %}">
			{% elif product.name == "T-Shirt" %}
				<img class="thumbnail" src="{% static 'images/shirt.jpg' %}">

			{% endif %}
			<div class="box-element product">
				<h6><strong>{{product.name}}</strong></h6>
				<hr>

				<button data-product={{product.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
				<a class="btn btn-outline-success" href="#">View</a>
				<h4 style="display: inline-block; float: right"><strong>${{product.price|floatformat:2}}</strong></h4>

			</div>
		</div>
		{% endfor %}

		
	</div>

{% endblock content %}
